/* HeroSection.css */

.hero-section {
    background: radial-gradient(circle at bottom, rgb(0, 0, 77) 0, black 100%);
    color: #ffffff;
    padding: 50px 20px;
    margin: 5% 10%; 
    text-align: center;
    border-radius: 10%;
    border: 1px solid #F0C330;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #a1a1a1;
}


.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service-card {
    background-color: #39394D;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 8px 15px rgba(56, 120, 215, 0.3);
    transition: transform 0.3s;
    text-decoration: none;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card h3 {
    color: #F0C330;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.service-card p {
    font-size: 1rem;
    color: #d1d1d1;
}

@media (max-width: 1024px) {
    .hero-section {
        margin: 5% 5%; 
        padding: 40px 15px; 
    }

    .hero-title {
        font-size: 2rem; 
    }

    .hero-subtitle {
        font-size: 1.1rem;
    }

    .service-card {
        width: 180px; 
        padding: 15px;
    }
}


@media (max-width: 800px) {
    .hero-section {
        margin: 5% 3%;
        padding: 30px 10px;
    }

    .hero-title {
        font-size: 1.8rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .service-card {
        width: 160px;
        padding: 10px;
    }
}


@media (max-width: 600px) {
    .hero-section {
        margin: 5% 2%;
        padding: 20px 5px;
    }

    .hero-title {
        font-size: 1.6rem;
    }

    .hero-subtitle {
        font-size: 0.9rem;
    }

    .services-container {
        gap: 15px;
    }

    .service-card {
        width: 100%;
        max-width: 250px; 
        padding: 10px;
    }
}
