body {
    font-family: 'Tangerine';
    padding: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 8rem;
    background-color: #121218;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar-logo a {
    color: #d7d7d7;
    text-decoration: none;
    font-weight: bold;
    font-size: 250%;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar-links li a {
    color: #F0C330;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

.navbar-links li a:hover {
    color: #ffffff;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 0.3rem;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #F0C330;
    transition: 0.3s;
}


@media (max-width: 600px) {
    .navbar {
        padding: 0.6rem 1.5rem;
    }

    .navbar-logo a {
        font-size: 1.4rem;
    }

    .navbar-links {
        position: absolute;
        top: 29px;
        left: 0;
        right: 0;
        background-color: #121218;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        /* padding: 1rem 0; */
        display: none;
    }

    .navbar-links-open {
        display: flex; 
    }

    .hamburger {
        display: flex;
    }
}
